{% extends 'layout.html' %}
{% block body %}
<div id="home-body-section">
  <div class="dark-overlay">
    <div class="body-inner container">
      <h1 class="display-4">{{ name }}'s Stats</h1>

      <br>

      <div class="card col-lg-5">
        <div class="card-header lead">
          Recent Runs:
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            {% for run in runs %}
            <li class="lead">{{ run[0] }}: {{ run[1] }} miles</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <br>

      <div class="card col-lg-5">
        <div class="card-header lead">
          Average Distance:
        </div>
        <div class="card-body">
          <p class="lead">{{ avg_dist }}</p>
        </div>
      </div>

      <br>

      <div class="card col-lg-5">
        <div class="card-header lead">
          Average Pace:
        </div>
        <div class="card-body">
          <p class="lead">{{ avg_pace }}</p>
        </div>
      </div>
  </div>
</div>
</div>
{% endblock %}
