{% extends 'layout.html' %} {% block body %}
<div class="container h-100">
  <br />

  <h1 class="display-3 mb-5 text-center mt-5 resp-header">
    {{ name }}'s Stats
  </h1>
  <p class="h4 text-center">Recent Runs:</p>
  <ul class="list-unstyled text-center">
    {% for run in runs %}
    <li>{{ run[0] }}: {{ run[1] }} miles</li>
    {% endfor %}
  </ul>

  <br />

  <p class="h4 text-center">Average Distance Last 30 Days:</p>
  <p class="text-center">{{ avg_dist }}</p>

  <br />

  <p class="h4 text-center">Average Pace Last 30 Days:</p>
  <p class="text-center">{{ avg_pace }}</p>

  <br />
  <br />
</div>
{% endblock %}
