{% extends 'layout.html' %} {% block header %}
<div class="container"><h1>Log a Run</h1></div>
{% endblock %} {% block body %}
<div class="container">
  <br />
  <div class="row">
    <h1 class="col-12 display-3 text-center my-5 resp-header">Log a Run</h1>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST">
        <div class="form-group">
          <input
            class="form-control form-control-lg mb-2"
            type="date"
            name="date"
          />
          <input
            class="form-control form-control-lg mb-2"
            type="number"
            step="0.1"
            name="distance"
            placeholder="Distance (miles)"
          />
          <input
            class="form-control form-control-lg mb-2"
            type="number"
            name="hours"
            placeholder="Hours"
          />
          <input
            class="form-control form-control-lg mb-2"
            type="number"
            name="minutes"
            placeholder="Minutes"
          />
          <input
            class="form-control form-control-lg mb-2"
            type="number"
            name="seconds"
            placeholder="Seconds"
          />
          <input
            type="submit"
            class="btn btn-dark btn-lg btn-block"
            value="Log Run"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
